* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f97171;
  --secondary-color: #385a7c;
  --primary-color--light: #f99192;
  --section-bg: linear-gradient(to top, #abbaab, #ffffff);
  --container-width: 1200px;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background: #f4f4f4;
  /* overflow-x: hidden; */
}
h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
}
.wrapper {
  overflow-x: hidden;
}
.line {
  width: 5rem;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  margin: 1rem auto;
}
.header--large {
  font-size: 3rem;
}
.header--light {
  color: #f4f4f4;
}
.header--dark {
  color: #222;
}
.header--medium {
  font-size: 2.1rem;
}

.m-1 {
  margin: 1rem 0;
}
.m-4 {
  margin: 4rem 0;
}
.p-2 {
  padding: 2rem 0;
}
.p-3 {
  padding: 3rem 0;
}
.p-4 {
  padding: 4rem 0;
}
ul {
  list-style: none;
}
.large-text {
  font-size: 1.6rem;
}
.bold-text {
  font-weight: 500;
}
.highlight-text {
  color: var(--primary-color--light);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}
.button {
  display: inline-block;
  font-size: 1.5rem;
  padding: 1rem 2rem;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: var(--primary-color);
  border-radius: 5px;
}
/* NAVBAR */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: #f1f1f1;
}
ul.links {
  display: flex;
}
ul.links li {
  margin: 0 1.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  color: inherit;
}
ul.links li:hover {
  color: var(--primary-color);
}
/* STICKY NAV BAR */
.sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  background: rgba(255, 255, 255, 0.9);
  color: #222;
  border-radius: 0 0 15px 15px;
  padding: 0 10px;
}
.sticky + .showcase--inner {
  padding: 25rem 0;
}
.sticky + .showcase-small--inner {
  padding: 15rem 0;
}
.navbar-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--section-bg);
  display: none;
  /* display: none; */
}
/* burger menu */
.burger-menu {
  display: inline-block;
  cursor: pointer;
  display: none;
}
.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/* logo */
.logo {
  font-family: "Lemonada", cursive;
  font-size: 2rem;
  color: var(--primary-color);
}
.logo > span {
  color: #333;
}
/* SHOWCASE */
.showcase {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/pexels-johannes-rapprich-769892.jpg");
  background-size: cover;
}
.showcase-small {
  position: relative;
  width: 100vw;
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/about-us.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.showcase h1,
.showcase-small--inner h1 {
  font-family: "Lemonada", cursive;
}

.showcase--inner {
  padding-top: 20rem;
}
.showcase-small--inner {
  padding-top: 10rem;
}
.showcase--inner p,
.showcase-small--inner p {
  color: #fff;
}

.button--ca:hover {
  background-color: transparent;
  border: 3px black solid;
}
/* LEARNING PROCESS */
.learning-process {
  text-align: center;
}
.learning-process--row {
  display: flex;
  justify-content: center;
}
.learning-process--box {
  padding: 2rem;
  border: #333 solid 2px;
  border-radius: 5%;
  margin: 0 1rem;
  display: flex;
  flex: 1;
  text-align: justify;
  background-color: #e9e9e9;
}
.learning-process--box-icon {
  color: var(--secondary-color);
  align-self: center;
}
.learning-process--box-icon::after {
  content: " ";
  border: solid 2px var(--primary-color--light);
  margin: 1rem;
}

/* .learning-process--box--vertical-line {
  height: 100%;
  border: solid var(--primary-color--light) 2px;
  margin: 0 1rem;
} */

/* FACILITIES SECTION */
.facilities {
  text-align: center;
  background: var(--section-bg);
}
.facilities--showcase {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10rem;
  column-gap: 3rem;
}

.facilities--showcase img {
  width: 350px;
  height: 350px;
  /* border: #f4f4f4 3px solid; */
  border-radius: 50%;
  object-fit: cover;
}
.facilities--images-box {
  position: relative;
  text-align: left;
}

.facilities--showcase img:nth-child(2) {
  position: absolute;
  top: 100px;
  left: 200px;
}
.facilities--showcase img:hover {
  z-index: 2;
}

.facilities--text-content {
  text-align: justify;
  font-size: 1.3rem;
  color: #333;
  align-self: center;
}
/* PRICES */

.prices {
  text-align: center;
}

/* price card */
.prices--container {
  display: flex;
  justify-content: center;
}
.prices--price-card {
  border: 2px #f1f1f1 solid;
  flex: 1fr;
  flex-basis: 30%;
  margin: 0 2rem;
  box-shadow: 5px 5px 5px 5px #d3d3d3;
}
.price-card--heading {
  background: #e9e9e9;
  padding: 1rem;
}
.price-card--options {
  background: #f4f4f4;
}
.price-card--option {
  padding: 1rem 0;
  border-bottom: 1px #a1a1a1 solid;
}
.price-card--button-container {
  background: #e9e9e9;
  border: none;
  padding: 1rem;
}
.price-card--button {
  border: transparent solid 1px;
  padding: 0.75rem 0;
  margin: 0 auto;
  color: #f4f4f4;
  cursor: pointer;
}
.price-card--button.basic {
  background-color: var(--secondary-color);
}
.price-card--button.premium {
  background-color: rgb(223, 191, 14);
}
.price-card--button:hover {
  background: transparent;
  border: #222 solid 1px;
  color: #222;
}

/* --------------------------- ABOUT US PAGE ---------------------------  */
/* INSTRUCTORS SECTION */
.instructors {
  text-align: center;
}
.instructors--gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.instructors--image {
  border: 3px solid #333;
  border-radius: 50%;
  object-fit: cover;
}
.instructors--gallery .instructor {
  background: #e9e9e9;
  padding: 2rem;
  cursor: pointer;
}
.instructors--gallery .instructor > p {
  padding-top: 1rem;
  font-size: 1.2rem;
}
.instructors--gallery .instructor > img {
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.4);
}

/* TESTIMONIALS SECTION  */
.testimonials {
  text-align: center;
  background: var(--section-bg);
}
.testimonials img {
  width: 150px;
  margin: 1rem;
}
.testimonials--testimonial,
.testimonials--testimonial-right {
  padding: 2rem 0;
}
.testimonial--inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
}
/* --------------------------- CONTACT US PAGE ---------------------------  */
.contact .container {
  max-width: var(--container-width);
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}
.contact--info {
  flex-basis: 49%;
  text-align: center;
}
.contact--info--row {
  text-align: left;
  padding: 0.75rem 0;
  font-size: 1.2rem;
}
.contact--info--row i {
  margin: 0 15px;
}
.contact--message {
  margin-top: 4rem;
  width: 100%;
  text-align: center;
}
.contact--form {
  flex-basis: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem 0.5rem;
}
.contact--form input,
.contact--form textarea {
  padding: 0.25rem 0.5rem;
  font-size: 1.1rem;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  resize: none;
}
.contact--form textarea {
  grid-column-end: span 2;
}
.contact--form .button {
  grid-column-end: span 2;
  font-size: 1.1rem;
  transition: all 0.3s;
}
.contact--form .button:hover {
  opacity: 0.8;
}
#map {
  flex-basis: 48%;
}
/* FOOTER */
/* footer {
  background: #333;
  padding: 2rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  color: #f4f4f4;
} */
footer {
  background-color: #333;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: center;
  padding: 1rem;
}

footer .contact-options {
  display: flex;
}
footer .contact-options div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 1rem;
}
footer .contact-options i {
  margin: 0 10px;
}
footer .social-media {
  justify-self: flex-end;
  display: flex;
  align-items: center;
}
footer .social-media i {
  margin: 0 1rem;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
  padding: 7px;
  transition: all 0.5s;
}
footer .social-media i:hover {
  transform: scale(1.2);
  background: var(--primary-color);
  color: #fff;
}
